.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;

  mat-toolbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.content {
  padding: 20px;
  background: #fafafa;
  min-height: calc(100vh - 64px);
}

.spacer {
  flex: 1 1 auto;
}

.active {
  background: rgba(0, 0, 0, 0.04);
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media (max-width: 599px) {
  .content {
    min-height: calc(100vh - 56px);
  }
}
